<style>

.infotable{
	 border: 0px solid rgb(0, 0, 0);
	 width: 800px; 
	 font-family: malgun gothic, dotum, arial, tahoma; 
	 margin-top: 1px; 
	 border-collapse: collapse;
}

.userTable{
	border: 1px solid rgb(0, 0, 0);
	 font-family: &quot;
	 malgun gothic&quot;, 
	 dotum, arial, tahoma; 
	 margin-top: 3px; 
	 border-collapse: collapse;
	 width: 800px;

}

.userTdG{
	background: rgb(221, 221, 221); 
	padding: 5px; 
	border: 1px solid black; 
	height: 18px; 
	text-align: center; 
	color: rgb(0, 0, 0); 
	font-size: 12px; 
	font-weight: bold; 
	vertical-align: middle;


}
.userTdW{
	background: rgb(255, 255, 255); 
	padding: 5px; 
	border: 1px solid black; 
	height: 18px; 
	text-align: center; 
	color: rgb(0, 0, 0); 
	font-size: 12px; 
	font-weight: bold; 
	vertical-align: middle;
}
.contentsTable{
	border: 2px solid; 
	width: 800px; 
	font-family: &quot;
	malgun gothic&quot;, dotum, arial, tahoma; 
	margin-top: 10px; 
	border-collapse: collapse; 
	height: auto;


}

.applineG{
	background: rgb(221, 221, 221);
	border: 1px solid black; 
	padding: 1px; 
	height: 25px; 
	text-align: center; 
	color: rgb(0, 0, 0); 
	font-size: 12px; 
	vertical-align: middle;	
	border-collapse: collapse;
	
}

.applineW{
	background: rgb(255, 255, 255);
	border: 1px solid black;
	padding: 9px;  	
	width : 65px;
	height: 50px;	
	text-align: center; 
	color: rgb(0, 0, 0); 
	font-size: 15px; 
	vertical-align: middle;	
	border-collapse: collapse;
	
	
	
}

.appTable{
	border: 0px solid rgb(0, 0, 0);	 
	font-family: malgun gothic, dotum, arial, tahoma; 
	margin-top: 1px; 
    display : flex;

	 }

.addbtn{
	background: rgb(221, 221, 221); 
	padding: 5px; 
	border: 1px solid black; 	 
	text-align: center; 
	color: rgb(0, 0, 0); 
	font-size: 12px; 
	font-weight: bold; 
	vertical-align: middle;
	writing-mode: vertical-lr;

}



.contentsTable{
	border: 2px solid; 
	width: 800px; 
	font-family: &quot;
	malgun gothic&quot;, dotum, arial, tahoma; 
	margin-top: 10px; 
	border-collapse: collapse; 
	height: auto;
}

.addlist{

	width: 800px; 
	font-family: &quot;
	malgun gothic&quot;, dotum, arial, tahoma; 
	margin-top: 10px; 
	border-collapse: collapse; 
	height: auto;


}

input{
	
	width:100%; 
	border: 0;
}


.display-flex {
	display: flex;
}


#department-box {
	height: 430px;
	width: 200px;
	border: 1px solid #D9D9D9;
	margin-right: 20px;
}

#department-box>button {
	justify-content: center;
	background-color: white;
}

/*--main-color-lt:#BDDFFF;  밝은 하늘색 버튼 
  --main-color-bl:#96C1E8;  하늘색 버튼 
  --main-color-dk:#5F90CB;  어두운 하늘색 버튼 */
#department-box>button:hover {
	color: #96C1E8;
}

#people-box {
	height: 430px;
	width: 350px;
	border: 1px solid #D9D9D9;
}


/*	        .modalBox button {
          display: block;
          width: 80px;
          margin: 0 auto;
        }
*/


#first-arrow,
#second-arrow,
#three-arrow,
#four-arrow {
	height: 10px;
	width: 10px;
	background-color: white;
	margin-right: 30px;
	margin-left: 10px;
}

#first-arrow {
	margin-top: 60px;
	margin-bottom: 30px;
}

#second-arrow {
	margin-bottom: 170px;
}

#three-arrow {
	margin-bottom: 30px;
}

#line-box {
	height: 200px;
	width: 350px;
	border: 1px solid #D9D9D9;
	margin-bottom: 30px;
}

#refer-box {
	height: 200px;
	width: 350px;
	border: 1px solid #D9D9D9;
}

#add-remove {
	display: flex;
	flex-direction: column;
	vertical-align: middle;
}

#add-remove button {
	padding: 0px;
}


#line-box-text {
	/* 결재선 글씨 */
	margin: 10px;
	font-weight: bold;
	font-size: 20px;
}

#refer-box-text {
	/* 참조선 글씨 */
	margin: 10px;
	font-weight: bold;
	font-size: 20px;
}

#close-button {
	margin-top: 20px;
	margin-left: 750px;
	width: 100px;
	height: 40px;
	background-color: #D9D9D9;
}

#regist-button {
	margin-top: 20px;
	margin-left: 10px;
	width: 100px;
	height: 40px;

}


#people-box {
	font-size: 15px;
}


#approveAssign{
	margin-left: 30px;
}

#fileClickId{
	border: 1px solid  #D9D9D9;
	background-color: white;
}

#fileClickId:hover{
	color:  #D9D9D9;
}

#cStyle{
	width: 500px;
	line-height: 100px;
	font-size: 30px;
	text-align: center;
	color: green;
}

#rStyle{
	width: 500px;
	line-height: 100px;
	font-size: 30px;
	text-align: center;
	color: red;
}

#wStyle{
	width: 500px;
	line-height: 100px;
	font-size: 30px;
	text-align: center;
	color: var(--main-color-lt);
}

#pStyle{
	width: 500px;
	line-height: 100px;
	font-size: 30px;
	text-align: center;
	color: aqua;
}

#pencil{
	width: 30px;
	height: 30px;
	margin-left: 630px;
}

#pencilFont{
	font-size: 15px;
	
}




</style>

