<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 	<!-- <settings>
		<setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>
	</settings>  -->

	<typeAliases>
		<typeAlias type="java.lang.String" alias="String" />
		<typeAlias type="com.aka.app.equipment.EquipmentVO" alias="EquipmentVO"/>
		<typeAlias type="com.aka.app.util.Pager"  alias="Pager"/>
		<typeAlias type="com.aka.app.product.ProductVO" alias="ProductVO"/>
		<typeAlias type="com.aka.app.edms.EdmsVO" alias="EdmsVO"/> 
		<typeAlias type="com.aka.app.member.RoleVO" alias="RoleVO" />
		<typeAlias type="com.aka.app.schedule.ScheduleVO" alias="ScheduleVO"/>
		<typeAlias type="com.aka.app.member.MemberVO" alias="MemberVO" />	
		<typeAlias type="com.aka.app.payment.PaymentVO" alias="PaymentVO"/>
		<typeAlias type="com.aka.app.board.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.aka.app.board.BoardFileVO" alias="BoardFileVO"/>
		<typeAlias type="com.aka.app.department.DepartmentVO" alias="DepartmentVO"/>
		<typeAlias type="com.aka.app.edms.AprovalVO" alias="AprovalVO"/>
		<typeAlias type="com.aka.app.calendar.CalendarVO" alias="CalendarVO"/>
		<typeAlias type="com.aka.app.util.StampVO" alias="StampVO"/>
		<typeAlias type="com.aka.app.edms.EdmsFileVO" alias="EdmsFileVO"/>
	</typeAliases>
	
</configuration>