<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.aka.app.board.BoardDAO">
	
	
	
	
	
	
	
	
	
	<delete id="deleteBoard" parameterType="BoardVO">
	DELETE 
	FROM BOARD
	WHERE BOARD_NUM=#{board_num}
	</delete>
	
	
	<update id="updateBoard" parameterType="BoardVO">
	UPDATE BOARD
	<set>
	<if test="board_head != null and board_head != ''">BOARD_HEAD=#{board_head},</if>
	<if test="board_contents != null and board_contents != ''">BOARD_CONTENTS=#{board_contents}</if>	
	</set>
	WHERE BOARD_NUM = #{board_num}
	</update>
	
 
	<select id="getBoardDetail" parameterType="BoardVO" resultMap="getBoardResult">
	SELECT B.*,F.* 
	FROM BOARD B
	LEFT OUTER JOIN BOARDFILES F
		ON (B.BOARD_NUM=F.BOARD_NUM) 
	WHERE B.BOARD_NUM = #{board_num};
	</select> 
	<resultMap type="BoardVO" id="getBoardResult">
        <id column="BOARD_NUM" property="board_num"/>
        <result column="MEMBER_ID" property="member_id"/>
        <result column="BOARD_WRITER" property="board_writer"/>
        <result column="BOARD_HEAD" property="board_head"/>
        <result column="BOARD_CONTENTS" property="board_contents"/>
        <result column="BOARD_DATE" property="board_date"/>
		<association property="boardFileVO" javaType="BoardFileVO" >
		<id column="BOARDFILE_NUM" property="boardfile_num"/>
		<result column="BOARD_NUM" property="board_num"/>
		<result column="MEMBER_ID" property="member_id"/>
		<result column="FILENAME" property="filename"/>
		<result column="BOARD_NUM" property="board_num"/>
		<result column="ORIFILENAME" property="orifilename"/>
		</association>
	</resultMap>	
	
	
	
	
	<insert id="createBoard" parameterType="BoardVO">
	<selectKey keyProperty="board_num" resultType="long" order="AFTER">
		SELECT MAX(BOARD_NUM) FROM BOARD
	</selectKey>
	INSERT INTO BOARD
	(
		MEMBER_ID
		,BOARD_WRITER
		,BOARD_HEAD
		,BOARD_CONTENTS
		,BOARD_DATE
	)
	VALUES 
	(		
	   	#{member_id}
		,#{board_writer}
		,#{board_head}
		,#{board_contents}
		,#{board_date}
	)
	</insert>
	
	<insert id="createBoardFiles" parameterType="BoardFileVO">
	INSERT INTO BOARDFILES
	(
	 BOARD_NUM
	,MEMBER_ID
	,FILENAME
	,ORIFILENAME
	)
	VALUES
	(
	 #{board_num}
	,#{member_id}
	,#{filename}
	,#{orifilename}
	) 
	</insert>
	
	
	
	
	
	<sql id="search">
	<where>
	<choose>
	<when test="kind=='kind1'">BOARD_HEAD</when>
	<when test="kind=='kind2'">BOARD_NUM</when>
	<otherwise>BOARD_DATE</otherwise>
	</choose>
	LIKE CONCAT('%',#{search},'%')
	</where>
	</sql>
	
	<select id="getBoardList" resultType="BoardVO" parameterType="Pager">
	SELECT * 
	FROM BOARD 
	<include refid="search"></include>
	ORDER BY BOARD_NUM DESC 
	LIMIT #{startIndex},#{perPage}
	</select>

	
	<select id="getTotalCount" resultType="Long" parameterType="Pager">
	SELECT COUNT(BOARD_NUM) 
	FROM BOARD
	<include refid="search"></include>
	</select>
	
	
	
	
	
</mapper>