<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.aka.app.department.DepartmentDAO">
	
	
	
	<!-- 사원 리스트 -->
	<select id="getDepartmentMemberList" resultType="MemberVO">
	SELECT * 
	FROM MEMBER
	WHERE DEPARTMENT_ID = #{department_id} 
	</select>
	
	
	<!-- 부서 리스트 Jstree -->
	<select id="getDepartmentList" resultMap="getDepartmentListResult" >
	SELECT 
	 DEPARTMENT_ID
	,DEPARTMENT_SUPER_ID
	,DEPARTMENT_NAME 
	FROM DEPARTMENT
	</select>
	<resultMap type="Map"  id="getDepartmentListResult" >
	<id column="DEPARTMENT_ID" property="id" javaType="String"/>
	<result column="DEPARTMENT_SUPER_ID" property="parent" javaType="String"/>
	<result column="DEPARTMENT_NAME" property="text" javaType="String"/>
	</resultMap>

	
	<!-- 메인 캘린더 -->
	<select id="departmentCalendar" resultType="CalendarVO" parameterType="MemberVO">
	SELECT DATE_FORMAT(START_DATE, '%Y-%m-%d') 
	AS START_DATE,DATE_FORMAT(END_DATE, '%Y-%m-%d') 
	AS END_DATE
	,TITLE 
	FROM CALENDAR C 
	LEFT OUTER JOIN MEMBER M
	ON(C.MEMBER_ID=M.MEMBER_ID)
	LEFT OUTER JOIN DEPARTMENT D
	ON(M.DEPARTMENT_ID=D.DEPARTMENT_ID)
	WHERE D.DEPARTMENT_ID = #{department_id}
	AND C.TARGET_OBJECT = 2;
	</select>
	
	
	
</mapper>