<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.aka.app.department.DepartmentDAO">
	
	
	
	
	
	
	
	
	
	
	
	
	<select id="getDepartmentMemberList" resultType="MemberVO">
	SELECT * 
	FROM MEMBER
	WHERE DEPARTMENT_ID = #{department_id} 
	</select>
	
	
	
	<select id="getDepartmentList" resultMap="getDepartmentListResult" >
	SELECT 
	 DEPARTMENT_ID
	,DEPARTMENT_SUPER_ID
	,DEPARTMENT_NAME 
	FROM DEPARTMENT
	</select>
	<resultMap type="Map"  id="getDepartmentListResult" >
	<id column="DEPARTMENT_ID" property="id" javaType="String"/>
	<result column="DEPARTMENT_SUPER_ID" property="parent" javaType="String"/>
	<result column="DEPARTMENT_NAME" property="text" javaType="String"/>
	</resultMap>

	
	
	
	
	
	
</mapper>