<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.aka.app.equipment.EquipmentDAO">
	
	
	<!-- 비품 삭제 -->
	<delete id="deleteEquipment" parameterType="EquipmentVO">
	DELETE 
	FROM EQUIPMENT 
	WHERE EQUIPMENT_NUM=#{equipment_num}
	</delete>
	
	<!-- 비품 수정 -->
	<update id="updateEquipment" parameterType="EquipmentVO">
	UPDATE EQUIPMENT 
	<set>
	<if test="member_id != null and member_id != ''">MEMBER_ID=#{member_id},</if>
	<if test="equipment_name != null and equipment_name != ''">EQUIPMENT_NAME=#{equipment_name},</if>
	<if test="equipment_date != null and equipment_date != ''">EQUIPMENT_DATE=#{equipment_date},</if>
	<if test="equipment_ea != null and equipment_ea != ''">EQUIPMENT_EA=#{equipment_ea},</if>
	<if test="equipment_contents != null and equipment_contents != ''">EQUIPMENT_CONTENTS=#{equipment_contents}</if>	
	</set>
	WHERE EQUIPMENT_NUM = #{equipment_num}
	</update>
	
	<!-- 비품 생성 -->
	<insert id="createEquiment" parameterType="EquipmentVO">
	INSERT INTO EQUIPMENT 
	(
		MEMBER_ID
		,EQUIPMENT_NAME
		,EQUIPMENT_DATE
		,EQUIPMENT_EA
		,EQUIPMENT_CONTENTS
	)
	VALUES 
	(		
	   	#{member_id}
		,#{equipment_name}
		,#{equipment_date}
		,#{equipment_ea}
		,#{equipment_contents}
	)
	</insert>
	
	
	<!-- 비품 상세 -->
	<select id="getEquimentDetail" parameterType="EquipmentVO" resultType="EquipmentVO">
	SELECT M.USERNAME member_name,E.* 
	FROM MEMBER M 
	LEFT OUTER JOIN EQUIPMENT E 
		ON (M.MEMBER_ID=E.MEMBER_ID)
	WHERE EQUIPMENT_NUM = #{equipment_num};
	</select>
	<!-- <resultMap type="EquipmentVO" id="getEquipmentDetailResult">
        <id column="EQUIPMENT_NUM" property="equipment_num"/>
        <result column="MEMBER_ID" property="member_id"/>
        <result column="EQUIPMENT_NAME" property="equipment_name"/>
        <result column="EQUIPMENT_DATE" property="equipment_date"/>
        <result column="EQUIPMENT_EA" property="equipment_ea"/>
        <result column="EQUIPMENT_CONTENTS" property="equipment_contents"/>
        <result column="MEMBER_NAME" property="member_name"/>
	</resultMap> -->
	
	<sql id="search">
	<where>
	<choose>
	<when test="kind=='kind1'">EQUIPMENT_NAME</when>
	<when test="kind=='kind2'">EQUIPMENT_NUM</when>
	<otherwise>MEMBER_ID</otherwise>
	</choose>
	LIKE CONCAT('%',#{search},'%')
	</where>
	</sql>
	
	<!-- 비품 목록 -->
	<select id="getEquimentList" resultType="EquipmentVO" parameterType="Pager">
	SELECT * FROM EQUIPMENT 
	<include refid="search"></include>
	ORDER BY EQUIPMENT_NUM DESC 
	LIMIT #{startIndex},#{perPage}
	</select>

	<!-- 비품 페이징 총 갯수 -->
	<select id="getTotalCount" resultType="Long" parameterType="Pager">
	SELECT COUNT(EQUIPMENT_NUM) 
	FROM EQUIPMENT
	<include refid="search"></include>
	</select>

</mapper>