<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.aka.app.payment.PaymentDAO">

	
	
	<!-- 결제 목록 찾기 -->
	<sql id="search">
	<where>
	<choose>
	<when test="kind=='kind1'">ORDER_NAME</when>
	<when test="kind=='kind2'">AMOUNT</when>
	<when test="kind=='kind3'">CUSTOMER_NAME</when>
	<when test="kind=='kind4'">CUSTOMER_PHONE</when>
	<when test="kind=='kind5'">CUSTOMER_EMAIL</when>
	<when test="kind=='kind6'">COUNTRY</when>
	<when test="kind=='kind7'">CURRENCY</when>
	<when test="kind=='kind8'">METHOD</when>
	<when test="kind=='kind9'">PAYMENT_NUM</when>
	<when test="kind=='kind10'">PRODUCT_NUM</when>
	<when test="kind=='kind11'">MEMBER_ID</when>
	<when test="kind=='kind12'">ORDER_ID</when>	
	<otherwise>PAYMENT_KEY</otherwise>
	</choose>
	LIKE CONCAT('%',#{search},'%')
	</where>
	</sql>
	
	
	<!-- 결제 페이징 총 갯수 -->
	<select id="getTotalCount" resultType="Long" parameterType="Pager">
	SELECT COUNT(PAYMENT_NUM) 
	FROM PAYMENT
	<include refid="search"></include>
	</select>
	
	<!-- 결제 목록 -->
	<select id="getPaymentList" parameterType="Pager">
	SELECT * 
	FROM PAYMENT
	<include refid="search"></include>
	ORDER BY PAYMENT_NUM DESC 
	LIMIT 
	#{startIndex}
	,#{perPage}
	</select>
	
	<!-- 결제 생성 -->
	<insert id="createPayment" parameterType="PaymentVO">
	INSERT INTO PAYMENT 
	(
	PRODUCT_NUM
	,MEMBER_ID
	,ORDER_ID,AMOUNT
	,PAYMENT_KEY
	,ORDER_NAME
	,REQUESTED_AT
	,APPROVED_AT
	,COUNTRY
	,CURRENCY
	,METHOD
	,VAT
	,CUSTOMER_NAME
	,CUSTOMER_PHONE
	,CUSTOMER_EMAIL
	) 
	VALUES 
	(
	#{product_num}
	,#{member_id}
	,#{order_id}
	,#{amount}
	,#{payment_key}
	,#{order_name}
	,#{requested_at}
	,#{approved_at}
	,#{country}
	,#{currency}
	,#{method}
	,#{vat}
	,#{customer_name}
	,#{customer_phone}
	,#{customer_email}
	)
	</insert>



	
	
	

</mapper>